<html ng-app="lunchCheck">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="js/app.js"></script>
	
	<style>
		input{ width: 200px; height: 30px;}
		.redText{color: red;}
		.greenText{color: green;}
		.redBorder{border-color: red;}
		.greenBorder{border-color: green;}
	</style>
	
</head>
<body>
	<div ng-controller="LunchCheckController">
		<input type="text" ng-model="food" placeholder="Insert the food you have eaten" ng-class="borderClass" />
		<br />
		<span ng-class="colorClass">{{message}}</span>
		<br />
		<button ng-click="checkIfTooMuch();">Check If Too Much</button> 
	</div>
</body>
</html>